.wrapper {
    margin: 50px 0 40px 20px;
}
.image {
    max-height: 420px;
}
.img {
    height: 400px;
    width: auto;
    object-fit: cover;
    object-position: 50% 50%;
    padding-right: 30px;
}

.header {
    margin-bottom: 20px;
}
.name {
    font-size: 3rem;
    margin-bottom: 10px;
}
.body {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

// img
.form-group {
    display: flex;
    margin-top: 16px;
    flex-direction: column;
}
.form-label,
.form-message {
    text-align: left;
}
.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;

    &:hover {
        border-color: var(--primary);
    }
}
// info

.info-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.info-title {
    min-width: 100px;
}
.button {
    margin-top: 20px;
}
.icon {
    padding-right: 4px;
}
